
<div class="main">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3">Welcome to Crescerance Angular Training Program</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let student of data">
          <tr>
            <td>{{ student.course }}</td>
            <td>{{ student.courseType }}</td>
            <td>{{ student.courseDes }}</td>
          </tr>
          <tr>
            <td>{{ student.className }}</td>
            <td>{{ student.classType }}</td>
            <td>{{ student.classDescription }}</td>
          </tr>
          <tr>
            <td>{{ student.awdName }}</td>
            <td>{{ student.awdType }}</td>
            <td>{{ student.awdDes }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  