.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    border: 1px solid #dee2e6;
    text-align: center;
  }
  
